/* GLOBAL */

* {
    font-family: 'nsSans';
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: lightgray;
}

main {
    width: 100%;
}

a {
    color: #2D77BD;
    text-decoration: none;
    transition: box-shadow .15s ease-in-out;
    cursor: pointer;
    margin: 1rem 0 0 0;
}


/* NAVIGATIE BAR */

nav {
    box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, .15);
    background: #fff;
    left: 0;
    min-height: 3.75rem;
    min-width: 20rem;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    margin: auto;
    padding: 0 1rem 0 1rem;
    display: flex;
}

#logo {
    display: inline-block;
    position: relative;
    top: 0.3em;
    border: none;
    margin-left: auto;
    width: 24%;
}

nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    justify-content: center;
    position: relative;
    width: 64%;
}

ul img {
    height: 1em;
    top: .1em;
    position: relative;
    margin-right: .5em;
}

nav ul li {
    width: 6.5em;
    margin-left: 2rem;
    align-content: space-between;
}

li form input {
    background: url(../img/zoek.svg) no-repeat 0 center;
    background-size: 1em;
    border: none;
    padding: 0 0 0 1.5em;
    width: 6.5em;
}


/* HEADER / BANNER */

header {
    max-width: 100%;
    position: relative;
    margin: 3.7rem 0 -5rem 0;
}

header img {
    width: 100%;
}

h1 {
    color: white;
    font-size: 4em;
    position: absolute;
    top: .5em;
    left: .5em;
}


/* FILTER */

aside {
    display: block;
    position: relative;
    max-width: 80%;
    margin: 2em auto;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.3);
    background: url(../img/nsLogo.svg) no-repeat -3em 10em #ffc917;
    background-size: 20em;
}

.filter {
    display: flex;
    padding: 2em 0 5em 0;
}

.filterForm select {
    font-family: openSans;
    font-size: .7em;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    margin: 0 auto 1em;
}

.filter form {
    position: relative;
    margin: auto;
    height: 10em;
    width: 30%;
}

.filter p {
    position: absolute;
    bottom: .5em;
    right: 1em;
    color: #003082
}

.filter form select {
    font-size: 1em;
    padding: .4em;
    border-radius: 0;
    background-color: white;
    width: 100%;
    min-width: 7.5em;
    color: #003082;
}

.filter form input {
    background-color: #0079D2;
    color: white;
    border: none;
    border-bottom: solid 3px rgba(0, 0, 0, 0.2);
    padding: .5em;
    cursor: pointer;
    width: 7.5em;
    font-size: 1em;
    display: block;
}

.filter h2 {
    margin-bottom: 1em;
    color: #003082;
}


/* CONTENT / VERHALEN */

.content {
    display: flex;
    max-width: 80%;
    position: relative;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}

article {
    width: 32%;
    background-color: white;
    height: auto;
    margin-bottom: 2em;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.3);
    padding-bottom: 3em;
}

.cat {
    width: 66%;
    position: relative;
    background-color: black;
    margin: 0 0 2em 0;
}

.cat img {
    height: 100%;
    width: 100%;
    opacity: .4;
}

.cat h2 {
    color: white;
    font-size: 5em;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 40%;
}

.cat a {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1em;
    color: white;
    text-decoration: underline;
}

.story {
    position: relative;
}

.story h3 {
    margin: 1em;
}

.story p {
    margin: 0 1em 0 1em;
}

.story a {
    text-decoration: underline;
    position: absolute;
    left: 1em;
}

.story img:nth-child(1) {
    width: 100%;
}

.like {
    background: url(../img/like1.svg) no-repeat center;
    background-size: 1.5em;
    background-color: #ffc917;
    width: 3em;
    height: 3em;
    position: absolute;
    top: -1em;
    left: 1em;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.3);
    border: none;
}

.like:focus {
    outline: none;
}


/* door javascript getriggered */

.expand {
    font-size: 2em;
    top: -.7em;
    right: -.7em;
}

.selected {
    background-color: #FE2E2E;
}

.lijstSelected {
    opacity: 1;
}

.opgeslagen {
    transform: rotate(360deg);
    transition-duration: 2s;
}


/* ========================== */

span {
    display: block;
    font-size: .5em;
    position: relative;
    top: -2em;
    right: -2em;
    color: #003082;
}

.opslaan {
    width: 2em;
    height: 2em;
    background: url(../img/save1.svg) no-repeat center;
    background-size: 1em;
    position: absolute;
    bottom: .5em;
    right: .5em;
    border: none;
    opacity: .5;
}

.lijstSelected {
    opacity: 1;
}

.opslaan:focus {
    outline: none;
}


/* TOT 64 em */

@media screen and (max-width: 64em) {
    h1 {
        font-size: 3em;
    }
    nav ul li a {
        font-size: 0;
    }
    /* haalt placeholdertekst weg */
    ::-webkit-input-placeholder {
        color: transparent;
    }
    nav ul li {
        width: 2em;
    }
    aside {
        display: block;
        position: relative;
        max-width: 96%;
        margin: 2em auto;
        box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.3);
        background: #ffc917;
        background-size: 20em;
    }
    .content {
        display: flex;
        max-width: 96%;
        position: relative;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-between;
    }
    article {
        width: 49%;
        background-color: white;
        height: auto;
        margin-bottom: 2em;
        box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.3);
    }
    .cat {
        margin: 0 0 2em 0;
        width: 100%;
        position: relative;
        background-color: black;
    }
}


/* TOT 37 em */

@media screen and (max-width: 37em) {
    h1 {
        font-size: 2em;
    }
    .filter {
        display: flex;
        padding: 2em 0 2em 0;
        flex-direction: column;
    }
    .filter form {
        height: auto;
        width: 50%;
    }
    .filter form h2 {
        margin: 1em 0 .5em 0;
    }
    aside {
        display: block;
        position: relative;
        max-width: 96%;
        margin: 2em auto;
        box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.3);
        background: #ffc917;
        background-size: 20em;
    }
    .content {
        display: flex;
        max-width: 96%;
        position: relative;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-between;
        flex-direction: column;
    }
    article {
        width: 100%;
        background-color: white;
        height: auto;
        margin-bottom: 2em;
        box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.3);
    }
    .cat {
        margin: 0 0 2em 0;
        width: 100%;
        height: 6em;
        background-color: white;
        opacity: 1;
        position: relative;
    }
    .cat img {
        display: none;
    }
    .cat h2 {
        position: relative;
        font-size: 3em;
        color: #003082;
    }
    .cat a {
        display: none;
    }
}


/* TOT 24 em */

@media screen and (max-width: 24em) {
    h1 {
        font-size: 1.5em;
    }
    aside {
        display: block;
        position: relative;
        max-width: 96%;
        margin: 2em auto;
        box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.3);
        background: #ffc917;
        background-size: 20em;
    }
    .content {
        display: flex;
        max-width: 96%;
        position: relative;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-between;
    }
    article {
        width: 100%;
        background-color: white;
        height: auto;
        margin-bottom: 2em;
        box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.3);
    }
    .cat {
        margin: 0 0 2em 0;
        width: 100%;
        height: 3em;
        background-color: white;
        opacity: 1;
        position: relative;
    }
    .cat h2 {
        position: relative;
        font-size: 1.5em;
        color: #003082;
        top: .4em;
    }
}